<div style="text-align: center;">
  <h1>Random Tags</h1>
  
  <div>
    <label for="nomeInput">Nome:</label>
    <input type="text" id="nomeInput" [(ngModel)]="nome" placeholder="Insira um nome">
  </div>
  <div>
    <label for="trechoInput">Trecho Bíblico:</label>
    <input type="text" id="trechoInput" [(ngModel)]="trechoBiblico" placeholder="Insira um trecho bíblico">
  </div>

  <button (click)="adicionarTag()">Adicionar Tag</button>

  <div *ngIf="tags.length > 0">
    <h2>Tags Adicionadas:</h2>
    <ul>
      <li *ngFor="let tag of tags">{{ tag }}</li>
    </ul>
    <button (click)="gerarPares()">Gerar Pares Aleatórios</button>
  </div>

  <div *ngIf="paresGerados.length > 0">
    <h2>Pares Gerados:</h2>
    <ul>
      <li *ngFor="let par of paresGerados">{{ par.pessoa }} - {{ par.trechoBiblico }}</li>
    </ul>
  </div>
</div>
